
body {
  background: linear-gradient( gray 20%, white 80%);
  height: 800px;
}
#title {
  font-family: sans-serif;
  text-align: center;
  margin: 20px 130px;
  
}

#menu {
  border: solid 2px black;
  border-left: none;
  border-top: none;
  width: 50px;
  height: 50px;
  position: fixed;
  border-radius: 5px;
  font-family: sans-serif;
}

#enviar {
  width: 290px;
  height: 40px;
  border: solid 2px black;
  border-left: none;
  border-top: none;
  border-radius: 5px;
}

#tela {
  font-family: sans-serif;
  text-align: center;
  margin: 80px 70px;
  position: fixed;
  z-index: 2;
  background: linear-gradient(gray 20%, white 80%);
  border-radius: 5px;
}
#fechar {
  font-family: sans-serif;
  text-align: center;
  margin: 7px 110px;
  position: absolute;
  z-index: 4;
}

#fechar2 {
  font-family: sans-serif;
  text-align: center;
  
}

#adicionar {
  font-family: sans-serif;
  text-align: center;
  margin: 40px 15px;
  width: 80px;
  height: 50px;
}


#excluir{
  font-family: sans-serif;
  text-align: center;
  margin-top: 40px;
  width: 80px;
  height: 50px;
}


#mensagem {
  width: 250px;
  height: 50px;
}
#tela2 {
  font-family: sans-serif;
  text-align: center;
  margin-top: 120px;
  margin-left: 10px;
  
  
}
#tela3 {
  font-family: sans-serif;
  text-align: center;
  margin-top: 140px;
  
}
#tela4 {
  font-family: sans-serif;
  text-align: center;
  margin-top: 160px;
  
}
#tela5 {
  font-family: sans-serif;
  text-align: center;
  margin-top: 180px;
}
#tela6 {
  font-family: sans-serif;
  text-align: center;
  margin-top: 200px;
  
}
#tela7 {
  font-family: sans-serif;
  text-align: center;
  margin-top: 220px;
  
}

@keyframes abrir {
  from {
    border: "";
    width: 0px;
    height: 0px;
    font-size: 0px;
  }
  to {
    border: solid 2px black;
    width: 200px;
    height: 150px;
    font-size: 12px;
  }
}

@keyframes fechar {
  from {
    border: solid 2px black;
    width: 200px;
    height: 150px;
    font-size: 12px;
  }
  to {
    border: "";
    width: 0px;
    height: 0px;
    font-size: 0px;
  }
}